.st0{fill:#F78E1E;}
.st1{font-family:'Knewave-Regular';}
.st2{font-size:125px;}
.st3{font-size:72px;}
.st4{fill:#263238;}
#full-logo-display {
    width:100%;
    height: auto;
    margin:auto;
    background: #3A4950;
    padding: -50px 0;
    display: block;
}
.row-3{
    width: 100%;
    background: #3D4A51;
}