#main-content{
  width:100%;
  flex:1;
  display:flex;
  flex-direction:row;
  background:#cfd8dc;
}
#map-container{
  flex:1;
  display: flex;
  position: relative;
}
#map-canvas {
  flex:1;
  background:#B1C1C0;
  cursor:crosshair;
}
#map-canvas:active{
  cursor:grabbing;
}
.svg_select_points {
  fill:#2A353B;
}
.svg_select_points_rot {
  fill:#F78C28;
  stroke-width:0;
  cursor: all-scroll;
}
#text-editor{
  display: none;
  background:#F78E1E;
  position: absolute;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  z-index: 10;
}

#text-editor:focus{
  outline: none;
}
.opacity-disabled {
  opacity:.5;
  cursor:no-drop !important;
}
#svgjs-canvas{
  display:none;
}