.sp-replacer {
    float:right;
}
.fa-question-circle{
    color:#37474f;
    opacity: .6;
    cursor: help;
    transition: 1.5s all;
}
.fa-question-circle:hover{
    opacity: 1;
}
.attribute-items {
    background:#eee;
    flex:1;
    width: 100%;
    overflow: auto;
    display:flex;
    flex-direction: column;
}
.attribute-input-number {
    width:80px;
    height:20px;
    float:right;
    text-align: right;
}
.attribute-description{
    width:100%;
    margin-bottom:15px;
    min-height: 54px;
    max-height: 54px;
}
.attribute-row {
    width:100%;
    min-height: 50px;
    max-height: 50px;
}
.attribute-row-2{
    width:100%;
    min-height: 27px;
    max-height: 27px;
}
.attribute-slider {
    width:72px;
    float:right;
}
.attribute-slider-label {
    width:24px;
    height:22px;
    padding:0 3px;
    float:right;
    text-align: right;
    background: #fff;
    border:2px solid #cfd8dc;
    border-radius:2px;
}
.attribute-preset-container{
    flex:1;
    background: #37474f;
    overflow: auto;
    border:3px solid #263238;
    border-radius:2px;
}
.attribute-preset {
    max-height:50px;
    min-height:50px;
    background:#cfd8dc;
    margin-bottom: 10px;
    cursor: grab;
}
.attribute-preset:last-child{
    margin-bottom:0;
}
.attribute-preset i {
    font-size:2.5em;
    padding-top:4px;
    padding-right:4px;
    float:right;
}
.value-changer-container{
    width:25px;
    height:26px;
    float:right;
    
    margin-right:5px;
}
.value-changer-up, .value-changer-down{
    height:9px;
    background:#37474f;
    border-radius:2px;
    border: 2px solid #263238;
    display: flex;
    cursor:pointer;
    color:#eee;
    transition:all .4s;
}
.value-changer-up:hover, .value-changer-down:hover{
    background:#F78E1E;
    color:#eee;
}
.value-changer-up i, .value-changer-down i{
    text-align: center;
    width:100%;
}
.value-changer-down i{
    transform: translateY(-7px)
}
.help {
    display:none;
    max-width:250px;
    z-index: 999999999999999999;
    background: #3A4950;
    color:#eee;
    padding:10px;
    position: absolute;
    transform:translate(25px);
    opacity:1;
    font-weight:400;
    border:4px solid #2A353B; 
    border-radius:3px;
    animation: help-delay 1.7s;
    line-height: 25px;
}
.help-tip{
    font-family: 'Knewave', sans-serif;
    color:#f78e1e;
    font-size: 1.2em;
}
.fa-question-circle:hover .help {
    display:block;
}
.dropdown-display{
    width:110px;
    height:20px;
    background:#cfd8dc;
    border:2px solid #2A353B;
    border-radius: 2px;
    float:right;
    cursor: pointer;
    overflow: hidden;
}
.dropdown-display:hover{
    border-color:#F78E1E;
}
.dropdown-list {
    display: flex;
    position: absolute;
    width:244px;
    height:220px;
    background:#37474f;
    border:3px solid #2A353B;
    border-radius: 2px;
    cursor: pointer;
    transform:translate(-139px,19px);
    overflow: auto;
    flex-direction: column;
    z-index: 999999999999999;
}
.dropdown-list-container {
    display:flex;
    flex-direction: column;
    transform: translateX(-1px);
}
.texture-item {
    margin:4px 5px;
    min-height: 55px;
    max-height: 55px;
    overflow: hidden;
    border:2px solid #F78E1E;
    background-color: #cfd8dc;
    background-position: center;
    transform: scale(1.00001);
}
.text-item {
    margin:4px 5px;
    overflow: hidden;
    border:2px solid #F78E1E;
    background-color: #cfd8dc;
    background-position: center;
    transform: scale(1.00001);
    font-size:2em;
}
.text-item-size-1 {
    font-size:1.1em;
}
.text-item-size-2 {
    font-size:1.5em;
}
.font-display {
    display: block;
    transform: translate(4px,-1px);
}
.font-display-1 {
    font-size:.8em;
}
.tool-container {
    display:flex;
    flex-direction: column;
    height: 100%;
}
/*
    SELECT
*/
#select-items {
    background:#eee;
    flex:1;
    width: 100%;
    overflow: auto;
}
.select-item {
    width:100%;
    height:50px;
    background: #fff;
    margin-bottom:5px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px #bbb;
}
.select-preview {
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
    border:4px solid #263238;
    background: #cfd8dc;
}
.select-name {
    flex:1;
    height:50px;
    vertical-align: middle;
    padding:12px;
}
.select-trash{
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    text-align: center;
    font-size:1.8em;
    display: block;
    background: #2A353B;
    cursor: pointer;
}
.select-trash i {
    padding-top:11px;
    color:#CED7DB;
    transition: .2s all;
}
.select-trash:hover i{
    color:#BF360C;
}
.select-item:last-child{
    margin-bottom:0;
}

/*
    MAP
*/
.attribute-save {
    width:100%;
    background: #F78E1E;
    color:#eee;
    border-radius:2px;
    text-align:center;
    padding: 5px 0;
    font-size:1.2em;
    cursor: pointer;
    transition:all .4s;
}
.attribute-save:hover, .attribute-download:hover{
    background: #263238;
}
.attribute-download {
    display: inline-flex;
    padding:0px 11.2px;
    background: #F78E1E;
    color:#eee;
    border-radius:2px;
    text-align:center;
    font-size:1em;
    cursor: pointer;
    transition:all .4s;
}
.attribute-download:last-child{
    float: right;
}
.map-tool-body{
    flex:1;
}
@keyframes help-delay {
    0% {
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}