.font-spicy-rice {
    font-family: 'Spicy Rice', cursive !important;
}
.font-poor-story {
    font-family: 'Poor Story', cursive !important;
}
.font-mali {
    font-family: 'Mali', cursive !important;
}
.font-oswald {
    font-family: 'Oswald', sans-serif !important;
}
.font-pattaya {
    font-family: 'Pattaya', sans-serif !important;
}
.font-kumar-one-outline {
    font-family: 'Kumar One Outline', cursive !important;
}
.font-lobster {
    font-family: 'Lobster', cursive !important;
}
.font-pacifico {
    font-family: 'Pacifico', cursive !important;
}
.font-shadows-into-light {
    font-family: 'Shadows Into Light', cursive !important;
}
.font-dancing-script {
    font-family: 'Dancing Script', cursive !important;
}
.font-pattrick-hand {
    font-family: 'Patrick Hand', cursive !important;
}
.font-glory-hallelujah {
    font-family: 'Gloria Hallelujah', cursive !important;
}
.font-seaweed-script {
    font-family: 'Seaweed Script', cursive !important;
}
.font-francois-one {
    font-family: 'Francois One', sans-serif !important;
}
.font-cinzel {
    font-family: 'Cinzel', serif !important;
}
.font-alfa-slab-one {
    font-family: 'Alfa Slab One', cursive !important;
}
.font-cardo {
    font-family: 'Cardo', serif !important;
}
.font-orbitron {
    font-family: 'Orbitron', sans-serif !important;
}
.font-federant {
    font-family: 'Federant', cursive !important;
}
.font-caveat {
    font-family: 'Caveat', cursive !important;
}
.font-cookie {
    font-family: 'Cookie', cursive !important;
}
.font-monoton {
    font-family: 'Monoton', cursive !important;
}
.font-luckiest-guy {
    font-family: 'Luckiest Guy', cursive !important;
}
.font-creepster {
    font-family: 'Creepster', cursive !important;
}
.font-charmonman {
    font-family: 'Charmonman', cursive !important;
}
.font-srisakdi {
    font-family: 'Srisakdi', cursive !important;
}
.font-sacramento {
    font-family: 'Sacramento', cursive !important;
}
.font-poller-one {
    font-family: 'Poller One', cursive !important;
}
.font-merienda {
    font-family: 'Merienda', cursive !important;
}
.font-bangers {
    font-family: 'Bangers', cursive !important;
}
.font-ultra {
    font-family: 'Ultra', serif !important;
}
.font-audiowide {
    font-family: 'Audiowide', cursive !important;
}
.font-caveat-brush {
    font-family: 'Caveat Brush', cursive !important;
}
.font-covered-by-your-grace {
    font-family: 'Covered By Your Grace', cursive !important;
}
.font-titan-one {
    font-family: 'Titan One', cursive !important;
}
.font-cabin-sketch {
    font-family: 'Cabin Sketch', cursive !important;
}
.font-gochi-hand {
    font-family: 'Gochi Hand', cursive !important;
}
.font-damion {
    font-family: 'Damion', cursive !important;
}
.font-oleo-script {
    font-family: 'Oleo Script', cursive !important;
}
.font-alrdich {
    font-family: 'Aldrich', sans-serif !important;
}
.font-rock-salt {
    font-family: 'Rock Salt', cursive !important;
}
.font-chewy {
    font-family: 'Chewy', cursive !important;
}
.font-alegreya-sans-sc {
    font-family: 'Alegreya Sans SC', sans-serif !important;
}
.font-press-start-2p {
    font-family: 'Press Start 2P', cursive !important;
}
.font-knewave {
    font-family: 'Knewave', cursive !important;
}
.font-fugaz-one {
    font-family: 'Fugaz One', cursive !important;
}
.font-black-ops-one {
    font-family: 'Black Ops One', cursive !important;
}
.font-hanuman {
    font-family: 'Hanuman', serif !important;
}
.font-hanalei-fill {
    font-family: 'Hanalei Fill', cursive !important;
}
.font-bungee-inline {
    font-family: 'Bungee Inline', cursive !important;
}
.font-shojumaru {
    font-family: 'Shojumaru', cursive !important;
}
.font-faster-one {
    font-family: 'Faster One', cursive !important;
}
.font-rye {
    font-family: 'Rye', cursive !important;
}
.font-metamorphous {
    font-family: 'Metamorphous', cursive !important;
}
.font-fontdiner-swanky {
    font-family: 'Fontdiner Swanky', cursive !important;
}
.font-bungee-shade {
    font-family: 'Bungee Shade', cursive !important;
}
.font-rubik-mono-one {
    font-family: 'Rubik Mono One', sans-serif !important;
}
.font-eater {
    font-family: 'Eater', cursive !important;
}
.font-geo {
    font-family: 'Geo', sans-serif !important;
}
.font-frijole {
    font-family: 'Frijole', cursive !important;
}
.font-nosifer {
    font-family: 'Nosifer', cursive !important;
}
.font-ewert {
    font-family: 'Ewert', cursive !important;
}
.font-mukta {
    font-family: 'Mukta', cursive !important;
}